/fractol/.vscode
/fractol/.ignore/
/fractol/minilibx-linux/
/fractol/src/obj/
/fractol/src/libft/obj/
/fractol/src/libft/libft.a

/push_swap/.vscode
/push_swap/.ignore/
/push_swap/checker_linux
/push_swap/obj/
/push_swap/src/libft/obj/
/push_swap/src/libft/libft.a
/push_swap/traces.txt
/push_swap/push_swap_test_linux.sh
/push_swap/push_swap
/push_swap/pro_checker
/push_swap/.ignore
/push_swap/push_swap_tester

/fdf/.vscode
/fdf/fdf_linux
/fdf/test_maps
/fdf/minilibx-linux