/fractol/.ignore/
/fractol/minilibx-linux/
/fractol/src/obj/
/fractol/src/libft/obj/
/fractol/src/libft/libft.a
/push_swap/.ignore/
/push_swap/checker_linux
/push_swap/push_swap
/push_swap/obj/
/push_swap/src/libft/obj/
/push_swap/src/libft/libft.a